<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.xihu.mapper.ActivityMapper">
    <update id="changeSubCount">
        UPDATE activity
        SET subscription_count = subscription_count + #{num}
        WHERE id = #{activityId}
    </update>

    <select id="selectByParams" resultType="com.demo.xihu.vo.ActivityListVO">
        SELECT * FROM activity
        <where>
            <if test="date != null">
                AND DATE(start_time) = #{date}
            </if>
            <if test="type != null and type != ''">
                AND activity_type = #{type}
            </if>
        </where>
        <if test="num != null">
            LIMIT #{num}
        </if>
    </select>
    <select id="selectInfoById" resultType="com.demo.xihu.entity.Activity">
        SELECT
            *
        FROM
        activity a
        LEFT JOIN registration r ON r.activity_id = a.id
        <where>
            <if test="userid != null">
                AND r.user_id = #{userid}
            </if>
        </where>
        ORDER BY a.start_time
    </select>


</mapper>
