<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.xihu.mapper.GoodactivityMapper">
    <update id="changeSubCount">
        UPDATE goodactivity
        SET peo = peo + #{num}
        WHERE id = #{activityId}
    </update>
    <select id="selectInfoById" resultType="com.demo.xihu.entity.Goodactivity">
        SELECT *
        FROM goodactivity g
        LEFT JOIN goodregistration r ON r.goodactivity_id = g.id
        <where>
            <if test="userid != null">
                AND r.user_id = #{userid}
            </if>
        </where>
        ORDER BY g.time
    </select>

</mapper>
