<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.xihu.mapper.UserMapper">
    <update id="updateByAccount">
        UPDATE user
        <set>
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="username != null">username = #{username},</if>
            <if test="userType != null">userType = #{userType},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="company != null">company = #{company},</if>
            <if test="department != null">department = #{department},</if>
            <if test="position != null">position = #{position},</if>
            <if test="email != null">email = #{email},</if>
        </set>
        WHERE account = #{account}
    </update>
    <select id="getUserInfo" resultType="com.demo.xihu.vo.InfoUserVO">
        SELECT
            *
        FROM user
        <where>
            <if test="id != null">
                AND user.id=#{id}
            </if>
        </where>
    </select>


</mapper>
